<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
  </head>
  <body>
    <nav>
      <a href="/blogs">Blogs</a>
      <a href="/blogs/new">New Blogs</a>
    </nav>
    <h1>Welcome to my blogs page</h1>
    <% @blogs.each do |photo|  %>

    <% end %>

  </body>
</html>
